{
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/test.check {:mvn/version "1.1.1"}}
 :aliases {:test {:extra-paths ["test"]
                 :extra-deps {io.github.cognitect-labs/test-runner
                              {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                 :main-opts ["-m" "cognitect.test-runner"]
                 :exec-fn cognitect.test-runner.api/test}

           :build
           {:deps {io.github.juxt/pack.alpha {:git/sha "9fd4a63ddeec3bedcbc819422de5a40ccb9eb8c9"}
                   io.github.clojure/tools.build {:git/tag "v0.6.8" :git/sha "d79ae84"}
                   org.clojure/data.zip {:mvn/version "1.0.0"}
                   org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}}
            :ns-default build
            :paths ["."]}}}
